route:
  group_by: ['alertname']
  group_wait: 30s
  group_interval: 1m
  repeat_interval: 1h
  receiver: 'aws.sns'

receivers:
  - name: 'aws.sns'
    sns_configs:
    - sigv4:
        region: "{{ alertmanager_region }}"
      topic_arn: "{{ topic_arn }}"

inhibit_rules:
  - source_match:
      severity: 'critical'
    target_match:
      severity: 'warning'
    equal: ['alertname', 'dev', 'instance']